services:
  keycloak:
    build:
      context: ./docker/keycloak
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./docker/keycloak/themes/wirgarten:/opt/keycloak/themes/wirgarten
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

  web:
    build: .
    command: bash -c "poetry lock --no-update && poetry install && poetry run python manage.py collectstatic --noinput &&
                      poetry run python manage.py compilemessages --ignore \".venv\" &&
                      poetry run python manage.py runserver_plus 0.0.0.0:80 --reloader-type=stat"
    volumes:
      - .:/app
    environment:
      VIRTUAL_HOST: localhost
      DEBUG: 1
    depends_on:
      - db
      - selenium
      - keycloak
      - redis

  nginx-proxy:
    image: jwilder/nginx-proxy
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./docker/nginx/certs:/etc/nginx/certs:ro
      - ./docker/nginx/vhost.d:/etc/nginx/vhost.d:ro
      - ./docker/nginx/client_auth_certs:/etc/nginx/client_auth_certs:ro
      - ./static:/usr/src/app/static 
    ports:
      - "8000:80"
      - "8001:443"
    environment:
      HTTPS_METHOD: noredirect
      DEFAULT_HOST: localhost

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=tapir
      - POSTGRES_PASSWORD=tapir
      - POSTGRES_USER=tapir
    ports:
      - '5432:5432'

  selenium:
    image: selenium/standalone-firefox-debug:latest
    shm_size: '2gb'
    ports:
      - 5900:5900 # VNC

  # Backend for Celery task queue
  redis:
    image: redis:alpine

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "poetry install &&
                      poetry run celery -A tapir worker -l info"
    volumes:
      - .:/app
    environment:
      DEBUG: 1
    depends_on:
      - redis
      - db

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    # --schedule to avoid polluting the app directory
    command: bash -c "poetry install &&
                      poetry run celery -A tapir beat -l info --schedule /tmp/celerybeat-schedule"
    volumes:
      - .:/app
    environment:
      DEBUG: 1
    depends_on:
      - redis
      - celery

  db-admin:
    image: adminer
    ports:
      - "8280:8080"

volumes:
  nginx-certs-volume:
