[tool.poetry]
name = "tapir"
version = "0.1.0"
description = ""
authors = ["Leon Handreke <leonh@ndreke.de>"]

[tool.poetry.dependencies]
python = "^3.11"
Django = "^3.2.21"
django-extensions = "3.1.5"
django-bootstrap-datepicker-plus = "^5.0.2"
psycopg2-binary = "^2.9.3"
django-tables2 = "^2.4.1"
django-filter = "^23.3"
tablib = "^3.2.0"
django-phonenumber-field = { extras = ["phonenumbers"], version = "^5.2.0" }
phonenumbers = "^8.12.44"
weasyprint = "^52.5"
django-select2 = "^7.10.0"
django-silk = "^4.2.0"
gunicorn = "^20.1.0"
django-environ = "^0.10.0"
django-bootstrap5 = "^23.3"
django-formtools = "^2.3"
celery = "^5.3.4"
redis = "^5.0.1"
ipython = "^8.1.0"
django-localflavor = "^3.1"
tomlkit = "^0.10.1"
nanoid = "^2.0"
lxml= "^5.1.0"
python-keycloak = "^3.3.0"
webtest = "^3.0.0"
django-webtest = "^1.9.10"
PyJWT = "2.6.0"
unidecode = "^1.3.6"
importlib-resources = "^6.1.0"
tapir-mail = { url = "https://github.com/FoodCoopX/tapir-mail-releases/releases/download/0.0.0-dev-1724148733/tapir_mail-0.0.0.dev1724148733-py3-none-any.whl" }

[tool.poetry.dev-dependencies]
ipython = "^8.1.0"
pre-commit = "^2.17.0"
Werkzeug = "^1.0.1"
pytest = "^6.2.5"
pytest-cov = "^2.12.1"
pytest-django = "^4.5.2"
pytest-sugar = "^0.9.4"
selenium = "^3.141.0"
factory-boy = "^3.2.1"
black = "^22.3.0"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
