{% load keycloak %}
{% load tapir_static %} 
{% keycloak_config as conf %}

<script src="{% keycloak_public_url %}/js/keycloak.js"></script>
<script>
    const getCookieValue = (name) => (
        document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    )

    const deleteCookie = (name) => {
        document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC;"
    }

    const setCookie = (name, value) => {
        document.cookie = name + "=" + value + "; Path=/; SameSite=Lax;";
        sendTokenToIframe(keycloak.token)
    }

    const deleteAllCookies = () => {
        const cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            const eqPos = cookie.indexOf("=");
            const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            deleteCookie(name);
        }
    }

    const addLogoutFunction = () => {
        const logout = document.getElementById("logout")
        if (logout) {
            logout.addEventListener('click', () => {
                console.log("Logging out...");
                deleteAllCookies();
                keycloak.logout({ redirectUri: window.location.origin + "{% url 'login' %}" });
            });
        } else {
            setTimeout(addLogoutFunction, 100);
        }
    }

    const refreshToken = (keycloak, minValidity) => keycloak.updateToken(minValidity)
        .then(() => {
            console.log("Token refreshed successfully");
            setCookie("token", keycloak.token);
        })
        .catch(() => {
            console.log("Failed to refresh token. User is logged out.");
        });

    const sendTokenToIframe = (token) => {
        const iframe = document.getElementById('tapirMailIframe');
        if (!iframe) {
            return;
        }

        iframe.contentWindow.postMessage({
            type: 'NEW_TOKEN',
            token: token
        }, window.location.origin);
    }
    
    const keycloak = new Keycloak({{ conf| safe }});

    const hideLoadingScreen = () => {
        const loadingScreen = document.getElementById("loading-screen");
        if (loadingScreen) {
            loadingScreen.style.opacity = 0;
            setTimeout(() => loadingScreen.style.display = 'none', 200);
        } else {
            setTimeout(hideLoadingScreen, 100);
        }
    }

    const getRedirectUrl = () => {
        const params = Tapir.getUrlParams();
        return params.next ? decodeURIComponent(params.next) : "{% url 'index' %}";
    }

    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    const savedToken = getCookieValue("token");
    keycloak.init({
        onLoad: isSafari ? 'login-required' : 'check-sso',
        silentCheckSsoRedirectUri: isSafari ? undefined : window.location.origin + "/static/accounts/silent-refresh.html",
        checkLoginIframe: !isSafari,
        token: savedToken,
        onTokenExpired: () => {
            console.log("Token expired, refreshing...");
            refreshToken(keycloak, 10)
        },
    }).then((authenticated) => {
        console.log("authenticated: ", authenticated)
        if (!authenticated || !keycloak.token) {
            deleteAllCookies();
            keycloak.login({ redirectUri: getRedirectUrl() })
        } else {
            hideLoadingScreen();

            setCookie("token", keycloak.token);

            if (document.location.pathname === '/login') {
                window.location.replace(getRedirectUrl());
            }

            addLogoutFunction();

            console.log("Keycloak initialized successfully");

            const iframe = document.getElementById('tapirMailIframe');
            if (iframe) {
                // keep the token in the iframe up to date
                const refreshInterval = 2 * 60;
                setInterval(() => {
                    refreshToken(keycloak, refreshInterval + 10)
                }, refreshInterval * 1000)
            }
        }
    }).catch((err) => {
        deleteAllCookies();
        console.error("Failed to initialize Keycloak: ", err);
        keycloak.logout({ redirectUri: getRedirectUrl() })
    })

    if (keycloak.silentCheckSsoRedirectUri && savedToken) {
        hideLoadingScreen();
    }
</script>
