{% extends "core/base.html" %}

{% load i18n %}
{% load wirgarten %}
{% load static %}

{% block head %}
<title xmlns="http://www.w3.org/1999/html">{% block title %}Admin Dashboard{% endblock %}</title>
<link rel="stylesheet" href="{% static 'wirgarten/css/admin_dashboard.css' %}">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <!--div class="dashboard-tile card alert-warning alert-tile">
       <h4>WARNUNG:</h4>

    </div-->

    <div class="dashboard-tile card capacity-tile clickable">
        <div class="card-body">
            <h4>Kapazitäten</h4>
            <canvas height="10000px" width="10000px" id="product-capacity-chart"></canvas>
        </div>
    </div>

    <div class="dashboard-tile card clickable">
        <a href="{% url 'wirgarten:member_list' %}">
            <div class="card-body">
                <div class="dashboard-tile-number">
                    <strong>{{active_members}}</strong>
                    <span class="material-icons">groups</span>
                </div>
                <small>aktive <strong>Mitglieder</strong></small>
            </div>
        </a>
    </div>

    <div class="dashboard-tile card">
        <div class="card-body">
            <div class="dashboard-tile-number">
                <strong>{{cancellations_during_trial}}</strong>
                <span class="material-icons">
                    {% if cancellations_during_trial == 0 %}
                    mood
                    {% else %}
                    sentiment_very_dissatisfied
                    {% endif %}
                </span>
            </div>
            <small><strong>Kündingungen</strong> (Probezeitraum)</small>
        </div>
    </div>

    <div class="dashboard-tile card">
        <div class="card-body">
            <div class="dashboard-tile-number">
                <strong>{{waiting_list_coop_shares}}</strong>
                <span class="material-icons">schedule</span>
            </div>
            <small><strong>Geno-Anteile</strong><br/>Warteliste</small>
        </div>
    </div>

    <div class="dashboard-tile card">
        <div class="card-body">
            <div class="dashboard-tile-number">
                <strong>{{waiting_list_harvest_shares}}</strong>
                <span class="material-icons">schedule</span>
            </div>
            <small><strong>Ernteverträge</strong><br/>Warteliste</small>
        </div>
    </div>

    <div class="dashboard-tile card next-payment-tile clickable">
        <a href="{% url 'wirgarten:payment_transactions' %}">
            <div class="card-body">
                <div class="dashboard-tile-number">
                    + <strong>{{next_payment_amount}}</strong> €
                </div>
                <small>nächster <strong>Zahlungseingang</strong> ({{next_payment_date}})</small>
            </div>
        </a>
    </div>

    <div class="dashboard-tile card next-payment-tile">
        <div class="card-body">
            <div style="color: var(--secondary)" class="dashboard-tile-number">
                + <strong>{{solidarity_overplus}}</strong> €
            </div>
            <small><strong>Solidar Überschuss</strong> / Monat</small>
        </div>
    </div>

    <div class="dashboard-tile card clickable">
        <a href="{% url 'configuration:parameters' %}?q=wirgarten.coop.shares_independent">
            <div class="card-body">
                {% if status_seperate_coop_shares %}
                <div class="dashboard-tile-status positive">
                    <span class="material-icons">task_alt</span>
                </div>
                {% else %}
                <div class="dashboard-tile-status negative">
                    <span style="color: var(--bs-danger)" class="material-icons">hide_source</span>
                </div>
                {% endif %}
                <small><strong>Geno-Anteile</strong><br/>{% if not status_seperate_coop_shares %} <strong>nicht</strong>
                    {% endif %} separat zeichenbar</small>
            </div>
        </a>
    </div>

    <div class="dashboard-tile card clickable">
        <a href="{% url 'configuration:parameters' %}?q=wirgarten.harvest.negative_soliprice_enabled">
            <div class="card-body">
                {% if status_negative_soli_price_allowed is 0 %}
                <div class="dashboard-tile-status negative">
                    <span class="material-icons">hide_source</span>
                </div>
                {% else %}
                <div class="dashboard-tile-status positive">
                    <span class="material-icons">task_alt</span>
                </div>
                {% endif %}
                <small><strong>Solidarpreise</strong><br/>{% if status_negative_soli_price_allowed is 0 %}
                    <strong>nicht</strong>{% endif %} möglich {% if status_negative_soli_price_allowed is 2 %} (auto)
                    {% endif %}</small>
            </div>
        </a>
    </div>

    <div class="dashboard-tile card clickable">
        <a href="{% url 'configuration:parameters' %}?q=wirgarten.bestellcoop.is_subscribable">
            <div class="card-body">
                {% if status_bestellcoop_allowed is 0 %}
                <div class="dashboard-tile-status negative">
                    <span class="material-icons">hide_source</span>
                </div>
                {% else %}
                <div class="dashboard-tile-status positive">
                    <span class="material-icons">task_alt</span>
                </div>
                {% endif %}
                <small><strong>BestellCoop</strong><br/>Mitgliedschaft
                    {% if status_bestellcoop_allowed is 0 %}
                    <strong>nicht</strong>{% endif %} möglich {% if status_bestellcoop_allowed is 2 %} (auto)
                    {% endif %}</small>
            </div>
        </a>
    </div>

    <div class="dashboard-tile card clickable">
        <a href="{% url 'configuration:parameters' %}?q=wirgarten.chicken.is_subscribable">
            <div class="card-body">
                {% if status_chickenshares_allowed is 0 %}
                <div class="dashboard-tile-status negative">
                    <span class="material-icons">hide_source</span>
                </div>
                {% else %}
                <div class="dashboard-tile-status positive">
                    <span class="material-icons">task_alt</span>
                </div>
                {% endif %}
                <small><strong>Hühneranteile</strong><br/>
                    {% if status_chickenshares_allowed is 0 %}
                    <strong>nicht</strong>{% endif %} zeichenbar {% if status_chickenshares_allowed is 2 %} (auto)
                    {% endif %}</small>
            </div>
        </a>
    </div>

    <div class="dashboard-tile card product-distribution-tile clickable">
        <a href="{% url 'wirgarten:product' %}">
            <div class="card-body">
                <h4>Verteilung der Verträge</h4>
                <canvas id="product-distribution-chart"></canvas>
            </div>
        </a>
    </div>

    <div class="dashboard-tile card harvest-share-variants-tile clickable">
        <a href="{% url 'wirgarten:product' %}">
            <div class="card-body">
                <h4>Top Ernteanteile Varianten</h4>
                <canvas id="harvest-share-variants-chart"></canvas>
            </div>
        </a>
    </div>
</div>

<script src="{% static 'wirgarten/js/chart.js' %}"></script>
<script>
  const COLORS = ["#d6832b", "#2a9d8f", "#e9c46a", "#5c8bd6", "#32822d", "#8e6c88"]

  const capacityChart = document.getElementById('product-capacity-chart');
  new Chart(capacityChart, {
    type: 'bar',
    data: {
      links: {{capacity_links | safe}},
      labels: {{capacity_labels | safe}},
      datasets: [
          {
            label: 'Verfügbar',
            data: {{free_capacity | safe}},
            backgroundColor: COLORS[1]
          },
          {
            label: 'Vergeben',
            data: {{used_capacity | safe}},
            backgroundColor: COLORS[0]
          }
      ]
    },
    options: {
        responsive: true,
        scales: {
          x: {
            stacked: true,
          },
          y: {
            stacked: true
          }
        },
        onClick: (event, elements, chart) => {
          if (elements.length) {
            const element = elements[0]; // use the first one
            const url = chart.data.links[element.index];
            window.location.href = url;
          }
        },
        onHover: (event, elements) => {
            event.native.target.style.cursor = elements[0] ? 'pointer' : 'default';
        },
    }
  });

  new Chart(document.getElementById('harvest-share-variants-chart'), {
    type: 'doughnut',
    data: {
      labels: {{harvest_share_variants_labels | safe}},
      datasets: [{
        label: '# Anteile pro Variante',
        data: {{ harvest_share_variants_data | safe}},
        borderWidth: 1,
        backgroundColor: COLORS
      }]
    }
  });


  new Chart(document.getElementById('product-distribution-chart'), {
    type: 'bar',
    data: {
      labels: {{contract_distribution_labels | safe}},
      datasets: [{
        label: "Anzahl der Mitglieder",
        data: {{contract_distribution_data | safe}},
        borderWidth: 1,
        backgroundColor: COLORS
      }]
    }
  });





</script>
{% endblock %}