{% load static %}


{% block head %}
<title>{% block title %}Tapir{% endblock %}</title>
<link rel="stylesheet" href="{% static 'core/bootstrap/5.1.3/css/bootstrap.min.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'core/favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/custom.css' %}">

<!-- jQuery is required by select2, so load it here at the top -->
<link rel="stylesheet" href="{% static 'wirgarten/css/base.css' %}">
<script src="{% static 'core/jQuery/jquery-3.5.1.min.js' %}"></script>
{% endblock %}

{% include 'wirgarten/generic/modal/form-modal.html' %}

{% block content %}
{% endblock %}

<script src="{% static 'core/bootstrap/5.1.3/js/bootstrap.bundle.min.js' %}"></script>