{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load tapir_static %}
{% load i18n %}
{% load log %}
{% load accounts %}
{% load wirgarten %}
{% load configuration %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'wirgarten/css/member_detail.css' %}">
{% endblock %}

{% block content %}
<div id="member-detail-container">
    <div id="member-detail-left-column">

        {% include 'wirgarten/member/member_detail_alert.html' with renewal_status=renewal_status contract_end_date=contract_end_date member=object next_period=next_period show_trial_period_notice=show_trial_period_notice next_trial_end_date=next_trial_end_date show_renewal_warning=show_renewal_warning %}

        {% if email_change_request %}
        <div id="email-change-verify" class="alert alert-success">
            <h4 class="alert-heading">Bitte bestätige deine neue Email Adresse</h4>
            <p>Wir haben dir eine Mail geschickt an <strong>{{email_change_request.new_email}}</strong>.<br/>
                Bitte klicke den Link um deine Änderung wirksam zu machen.</p>
        </div>
        {% endif %}

        <div id="member-personal-data" class="card" style="margin-bottom:1em">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {% translate "Persönliche Daten" %}
                <button class="btn tapir-btn btn-outline-primary"
                        onclick="FormModal.load('{% url 'wirgarten:member_edit' object.pk %}', 'Persönliche Daten ändern')"
                        id="tapir_user_edit_button">
                    <span class="material-icons">edit</span>{% translate 'Bearbeiten' %}
                </button>
            </h5>
            <div class="card-body">
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Name" %}:</div>
                    <div class="col-8" id="tapir_user_display_name">{{ object.get_display_name }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Email" %}:</div>
                    {% if email_change_request %}
                    <div class="col-8" id="tapir_user_changed_email">
                        <span style="text-decoration: line-through; color:#6A6A6A">{{ object.email }}</span><br/>
                        <span>{{ email_change_request.new_email }}&nbsp;&nbsp;&nbsp;<span
                                class="badge bg-danger">Nicht verifiziert</span></span>
                    </div>
                    {% else %}
                    <div class="col-8" id="tapir_user_email">{{ object.email }}</div>
                    {% endif %}
                </div>
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Telefon" %}:</div>
                    <div class="col-8" id="tapir_user_phone_number">
                        {% if object.phone_number %}
                        {{ object.phone_number|format_phone_number }}
                        {% else %}
                        <span class="text-danger">{% translate "Missing" %}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Geburtsdatum" %}:</div>
                    <div class="col-8" id="tapir_user_birthdate">
                        {% if object.birthdate %}
                        {{ object.birthdate|format_date }}
                        {% else %}
                        <span class="text-danger">{% translate "Missing" %}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Adresse" %}:</div>
                    <div class="col-8" id="tapir_user_address">
                        {% if object.street and object.city %}
                        {{ object.get_display_address }}
                        {% else %}
                        <span class="text-danger">{% translate "Missing" %}</span>
                        {% endif %}
                    </div>
                </div>

                {% if object.pk == request.user.pk %}
                <div>
                    <hr/>
                    <a style="float: right" class="btn tapir-btn btn-outline-primary ms-1"
                       href="{% url 'password_change' %}"><span
                            class="material-icons">vpn_key</span>{% translate "Passwort ändern" %}</a>
                </div>
                {% endif %}
            </div>

        </div>

        <div id="member-contracts">
            <div id="contract-tiles">
                <div class="card">
                    <div class="card-body">
                        <div class="contract-tile-number">
                            <strong>{{ coop_shares_total }}</strong> ×
                        </div>
                        <strong>Genossenschaftsanteile</strong>
                        <hr/>
                        {% for entry in coop_shares %}
                        <small>
                            {{entry.timestamp}}:&nbsp;&nbsp;&nbsp;{{ entry.quantity }} × {{ entry.share_price|format_currency }}
                        </small><br/>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <button title="Anteile erhöhen"
                                onclick="FormModal.load('{% url 'wirgarten:member_add_coop_shares' object.pk %}', {% if 'wirgarten.coop.shares_independent'|parameter %} 'Genossenschaftsanteile zeichnen' {% else %} 'Warteliste', 'Aktuell können leider keine Genossenschaftsanteile separat gezeichnet werden. Wenn du möchtest informieren wir dich sobald du wieder neue Anteile zeichnen kannst.', 'warning' {% endif %})"
                                class="btn btn-outline-success material-icons mx-1 px-2"
                                style="float:right"
                        >
                            add
                        </button>
                    </div>
                </div>

                {% for type in subscriptions.keys %}
                <div class="card">
                    <div class="card-body">
                        <div class="contract-tile-number">
                            <strong>{{ sub_quantities|get_value:type }}</strong> ×
                        </div>
                        <strong>{% translate type %}</strong>
                        {% if sub_quantities|get_value:type > 0 %}
                        <hr/>
                        <small>
                            {% for key, val in subscriptions.items %}
                            {% if key == type %}
                            <span>{{ val.0.start_date|format_date }} - {{ val.0.end_date|format_date }}</span><br/>
                            <div style="margin-top:0.5em; line-height:1.1em">
                                {% for sub in val %}
                                <span {% if sub.cancellation_ts %} style="text-decoration:line-through;color:#6A6A6A"
                                      {% endif %}>
                                    <strong>{{ sub.quantity }}</strong>&nbsp;&nbsp;×&nbsp;&nbsp;<strong>{{ sub.product.name }}</strong>&nbsp;&nbsp;{% if sub.solidarity_price is not None and sub.solidarity_price != 0 %}
                                ({% if sub.solidarity_price > 0%}+{% endif %}
                                {% widthratio sub.solidarity_price 1 100 %}%)
                                {% endif %}</span>
                                <br/>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>
                    <div class="card-footer" style="display:flex;justify-content:space-between">
                        {% with sub_totals|get_value:type|default:0 as sub_total %}
                        <span><strong>{{ sub_total|format_currency }}&nbsp;</strong><small>€ / Monat</small>
                    </span>
                        {% endwith %}
                        <!-- FIXME: hardcoded product type names :( -->
                        {% if available_product_types|get_value:type|default:False %}
                        {% if type == 'Ernteanteile' %}
                        {% if coop_shares_total > 0 %}
                        <button title="Anteile erhöhen"
                                onclick="handleAddHarvestShares()"
                                class="btn btn-outline-success material-icons mx-1 px-2"
                        >
                            add
                        </button>
                        {% else %}
                        <button title="Du musst Mitglied der Genossenschaft sein um Erteanteile zeichnen zu können."
                                class="btn btn-outline-success material-icons mx-1 px-2"
                                disabled
                        >
                            add
                        </button>
                        {% endif %}
                        {% endif %}
                        {% if type == 'Hühneranteile' %}
                        <button title="Anteile erhöhen"
                                onclick="handleAddChickenShares()"
                                class="btn btn-outline-success material-icons mx-1 px-2"
                        >
                            add
                        </button>
                        {% endif %}
                        {% if type == 'BestellCoop' %}
                        <button title="Anteile erhöhen"
                                onclick="handleAddBestellCoop()"
                                class="btn btn-outline-success material-icons mx-1 px-2"
                        >
                            add
                        </button>
                        {% endif %}
                        {% else %}
                        <button title="Aktuell nicht verfügbar"
                                class="btn btn-outline-success material-icons mx-1 px-2"
                                disabled
                        >
                            add
                        </button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="member-detail-right-column">
        <div id="member-pickup-location" class="card">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {% translate "Abholung" %}
                <button class="btn tapir-btn btn-outline-primary"
                        onclick="FormModal.load('{% url 'wirgarten:member_pickup_location_choice' object.pk %}', 'Abholort ändern')">
                    <span class="material-icons">edit</span>{% translate 'Bearbeiten' %}
                </button>
            </h5>
            <div class="card-body" style="display:grid; grid-template-columns:1fr 1fr;">
                <div style="overflow-y: scroll; max-height: 30em; margin-right:1em;">
                    {% include 'wirgarten/member/member_deliveries_table.html' with member=object deliveries=deliveries hide_info=True hide_location=True %}
                </div>
                <div>
                    {% include 'wirgarten/pickup_location/pickup_location_map.html' with data=pickup_location_map_data selected=object.pickup_location.id %}
                </div>
            </div>
        </div>

        <div style="display:grid; grid-template-columns: 1fr 1fr; grid-gap: 1em;">

            <div class="card">
                <a href="{% url 'wirgarten:member_payments' object.pk %}" style="text-decoration:none; color: #000000">
                    <div class="card-body" style="text-align: center;">
                        <div class="contract-tile-number">
                            <strong>{{ next_payment.amount }}</strong> €
                        </div>
                        <strong>Nächste Zahlung</strong><br/>
                        <small>
                            am {{ next_payment.due_date|format_date }}<br/>
                            {{ next_payment.mandate_ref.ref }}
                        </small><br/>
                    </div>
                </a>
            </div>


            <div id="member-payment-data" class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {% translate "Bankverbindung" %}
                    <button class="btn tapir-btn btn-outline-primary"
                            onclick="FormModal.load('{% url 'wirgarten:member_edit_payment_details' object.pk %}', 'Bankverbindung ändern')">
                        <span class="material-icons">edit</span>{% translate 'Bearbeiten' %}
                    </button>
                </h5>
                <div class="card-body">
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "Kontoinhaber" %}:</div>
                        <div class="col-8" id="tapir_user_account_owner">
                            {% if object.account_owner %}
                            {{ object.account_owner }}
                            {% else %}
                            <span class="text-danger">{% translate "Missing" %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "IBAN" %}:</div>
                        <div class="col-8" id="tapir_user_iban">
                            {% if object.iban %}
                            {{ object.iban }}
                            {% else %}
                            <span class="text-danger">{% translate "Missing" %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "BIC" %}:</div>
                        <div class="col-8" id="tapir_user_bic">
                            {% if object.bic %}
                            {{ object.bic }}
                            {% else %}
                            <span class="text-danger">{% translate "Missing" %}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% if perms.accounts.manage %}
<hr/>
{% user_log_entry_list object %}
{% endif %}

<script>
    const handleTrialCancellation = () => {
        FormModal.load('{% url 'wirgarten:member_cancel_trial' object.pk %}', 'Verträge kündigen')
    }


        const handleAddBestellCoop = () => {
            FormModal.load('{% url 'wirgarten:member_add_bestellcoop' object.pk %}', 'BestellCoop Mitglied werden');
        }

        const handleAddChickenShares = () => {
            FormModal.load('{% url 'wirgarten:member_add_chicken_shares' object.pk %}', 'Hühneranteile dazubuchen');
        }

        const handleAddHarvestShares = () => {
            FormModal.load('{% url 'wirgarten:member_add_harvest_shares' object.pk %}', {% if available_product_types|get_value:"Ernteanteile"|default:False %} 'Ernteanteile dazubuchen' {% else %} 'Warteliste', 'Aktuell sind leider keine Ernteanteile verfügbar. Wenn du möchtest informieren wir dich sobald du wieder neue Anteile zeichnen kannst.', 'warning' {% endif %});
        }

</script>

{% endblock %}