{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load wirgarten %}


{% block content %}
<div style="margin:2em" class="container">
    <div class="card">
        <div class="card-header">
            <h5>Lieferungen - {{member.first_name}} {{member.last_name}}</h5>
        </div>
        <div class="card-body">
            {% include 'wirgarten/member/member_deliveries_table.html' with member=member deliveries=deliveries %}
        </div>
    </div>
</div>
{% endblock %}

