{% load i18n %}

<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align:center">
            {% translate 'Datum' %}
        </th>
        <th style="text-align:center">
            {% translate 'Produkte' %}
        </th>
        {% if not hide_location %}
        <th style="text-align:center">
            {% translate 'Abholort' %}
        </th>
        {% endif %}
        {% if not hide_info %}
        <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody style="overflow-y: auto">
    {% for delivery in deliveries %}
    <tr>
        <td style="text-align:center">
            <strong id="date-{{delivery.delivery_date}}">{{delivery.date}}</strong><br/>
            <p style="line-height:1.25em"><small id="datediff-{{delivery.delivery_date}}"></small></p>
        </td>
        <td style="text-align:center">
            <p style="line-height:1.25em">
                {% for sub in delivery.subs %}
                {{sub.quantity}} × {{sub.product.name}} {{sub.product.type.name}}<br/>
                {% endfor %}
            </p>
        </td>
        <td title="Klicken für Öffnungszeiten und weitere Infos" style="text-align:center; cursor: pointer" onclick="ConfirmationModal.open('{{delivery.pickup_location.name}}', `<div>
        {{delivery.pickup_location.street}}, {{delivery.pickup_location.postcode}} {{delivery.pickup_location.city}}<br/><br/>
        {% if delivery.pickup_location.info %}{{delivery.pickup_location.info}}<br/><br/>{% endif %}
        {% if delivery.pickup_location.contact_name %}<strong>Kontakt:</strong> {{delivery.pickup_location.contact_name}}<br/>{% endif %}
        {% if delivery.pickup_location.messenger_group_link %}<strong>Signal Gruppe:</strong> <a href='{{delivery.pickup_location.messenger_group_link}}'>{{delivery.pickup_location.messenger_group_link}}</a><br/>{% endif %}
        {% if delivery.pickup_location.access_code %}<strong>Zugangs-Code:</strong> {{delivery.pickup_location.access_code}}<br/>{% endif %}
        {% if delivery.opening_times.0 %}<strong>Öffnungszeiten</strong><br/>{delivery.pickup_location.opening_times_html}{% endif %}
        {% if delivery.pickup_location.photo_link %}<a href='{{delivery.pickup_location.photo_link}}' target='_blank'><img style='max-width: 100%' src='{{delivery.pickup_location.photo_link}}'/></a>{% endif %}
        </div>`)">
            {% if not hide_location %}
            <strong>{{delivery.pickup_location.name}}</strong><br/>
            {% endif %}
            {% if not hide_info %}
            <small>{{delivery.pickup_location.street}}<br/>
                {{delivery.pickup_location.postcode}} {{delivery.pickup_location.city}}</small>
            {% endif %}
            <span class="badge bg-warning">?</span>
        </td>
        {% if not hide_info %}
        <td style="max-width: 14em">{{delivery.pickup_location.info}}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    const now = moment();
    let diff, date;

    {% for delivery in deliveries %}
    date = moment("{{delivery.delivery_date}}");
    diff = now.to(date);
    document.getElementById("datediff-{{delivery.delivery_date}}").innerText = diff;
    document.getElementById("date-{{delivery.delivery_date}}").innerText = date.format("LL");
    {% endfor %}

</script>