{% extends "core/base.html" %}

{% load i18n %}
{% load core %}
{% load tapir_static %}
{% load django_bootstrap5 %}

{% block title %}
{% translate "Mitglieder" %}
{% endblock %}

{% block content %}

<div style="margin-top: 2em; grid-gap: 1em; display:grid; grid-template-columns: 5fr 1fr">
    <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between">
            <h4>{{filter.qs | length}} {% translate "Mitglieder" %}</h4>
            <span style="display: flex; flex-direction:row;">
                {% include 'wirgarten/generic/action-button.html' with onclick='handleAddMember()' title='Mitglied anlegen' type='success' icon='person_add' %}
                <div style="width: 1em"></div>
                {% include 'wirgarten/generic/action-button.html' with onclick='handleShowMemberDetailsPage()' disabled=True title='Mitgliederbereich anzeigen' type='info' icon='info' class='needs-member' %}
                {% if perms.payments.view %}
                {% include 'wirgarten/generic/action-button.html' with onclick='handleShowPayments()' disabled=True title='Zahlungsreihe anzeigen' type='info' icon='payments' class='needs-member' %}
                {% endif %}
                {% include 'wirgarten/generic/action-button.html' with onclick='handleShowDeliveries()' disabled=True title='Lieferreihe anzeigen' type='info' icon='local_shipping' class='needs-member' %}
                <div style="width: 1em"></div>
                {% if perms.accounts.manage %}
                {% include 'wirgarten/generic/action-button.html' with onclick='handleEditMemberDetails()' disabled=True title='Mitgliedsdaten ändern' type='primary' icon='manage_accounts' class='needs-member' %}
                {% if perms.coop.manage %}
                {% include 'wirgarten/generic/action-button.html' with onclick='handleTransferCoopShares()' disabled=True title='Genossenschaftsanteile übertragen' type='primary' icon='move_down' class='needs-member' %}
                {% endif %}
                <div style="width: 1em"></div>
                {% include 'wirgarten/generic/action-button.html' with onclick='handleDeleteMember()' disabled=True title='Mitglied löschen' type='danger' icon='delete' class='needs-member' %}
                {% endif %}
            </span>
        </div>
        <div class="card-body">
            <table class="table"
                   aria-label="{% translate 'List of applicants' %}">
                <thead>
                <tr>
                    <th>{% translate "Vorname" %}</th>
                    <th>{% translate "Nachname" %}</th>
                    <th>{% translate "Geburtstag" %}</th>
                    <th>{% translate "Email" %}</th>
                    <th>{% translate "Beitrittsdatum" %}</th>
                </tr>
                </thead>
                {% for member in filter.qs %}

                <tr id="member-{{member.id}}" onClick="handleSelectMember('{{member.id}}')"
                    class="tr-clickable member-row">
                    <td class="align-middle">{{ member.first_name }}</td>
                    <td class="align-middle">{{ member.last_name }}</td>
                    <td class="align-middle">{{ member.birthdate }}</td>
                    <td class="align-middle">{{ member.email }}</td>
                    <td class="align-middle">{{ member.date_joined }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>{% translate "Filter" %}</h4>
        </div>
        <div class="card-body">
            <form method="get">
                {% for field in filter.form %}
                {% bootstrap_field field %}
                {% endfor %}
                <button style="float:right" class="btn tapir-btn btn-primary" type="submit">
                    {% translate 'Suchen' %}
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    const memberRows = document.getElementsByClassName('member-row');
    const buttons = document.getElementsByClassName('needs-member');

    const activateRow = () => {
        const params = Tapir.getUrlParams();

        if(params.member){
            for(row of memberRows){
                if(row.id === `member-${params.member}`){
                    row.classList.add('active');
                } else {
                    row.classList.remove('active');
                }
            }

            for(btn of buttons){
                btn.disabled = false;
            }
        }
    }

    const handleSelectMember = (memberId) => {
        const params = Tapir.getUrlParams();

        if(params.member === memberId){
            handleShowMemberDetailsPage();
        } else {
            params.member = memberId;
            Tapir.replaceUrlParams(params);

            activateRow();
        }
    }

    const handleAddMember = () => {
        FormModal.load('{% url 'wirgarten:member_create' %}', 'Neues Mitglied anlegen');
    }

    const handleShowMemberDetailsPage = () => {
        const params = Tapir.getUrlParams();
        window.open(`/wirgarten/members/${params.member}`, '_blank');
    }

    const handleShowPayments = () => {
        const params = Tapir.getUrlParams();
        window.location.href = `/wirgarten/payments/${params.member}`;
    }

    const handleShowDeliveries = () => {
        const params = Tapir.getUrlParams();
        window.location.href = `/wirgarten/deliveries/${params.member}`;
    }

    const handleTransferCoopShares = () => {
        const params = Tapir.getUrlParams();
        FormModal.load(`/wirgarten/members/${params.member}/coopsharestransfer`, "Genossenschaftsanteile übertragen");
    }

    const handleEditMemberDetails = () => {
        const params = Tapir.getUrlParams();
        FormModal.load(`/wirgarten/members/${params.member}/edit`, 'Persönliche Daten ändern')
        FormModal.addCallback((e) => {
            if(e.data.type === "modal-save-successful"){
                window.location.replace(window.location.href)
            }
        })
    }

    const handleDeleteMember = () => {
        ConfirmationModal.open('Bist du dir sicher?', 'Möchtest du dieses Mitglied wirklich löschen?', 'Löschen', 'danger', () => {
            alert("Not yet implemented!")
        })
    }

    activateRow();




</script>

{% endblock %}