{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="{% static "coop/js/draftuser_form.js" %}"></script>
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url "coop:draftuser_list" %}">{% translate "Applicants" %}</a>
                </li>
                {% if form.instance.pk %}
                    <li class="breadcrumb-item">
                        <a href="{{ form.instance.user.get_absolute_url }}">{{ form.instance.user.get_full_name }}</a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item">Create</li>
                {% endif %}
            </ol>
        </nav>
    {% endif %}

    <div class="container">
        <div class="card m-2">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {% if request.user.is_authenticated %}
                    {% translate "Create applicant" %}
                {% else %}
                    {% translate "Register" %}
                {% endif %}
            </h5>
            <div class="card-body">
                {% blocktranslate %}
                    <p>Welcome to WirGarten Lüneburg!</p>
                    <p>By filling this form, you're registering as a potential member of SuperCoop. That's a great
                        idea!</p>
                    <p>Once it's done we'll then help you fill and send the documents to make the registration
                        official.</p>
                {% endblocktranslate %}
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form exclude="accept_statutes, right_of_withdrawal" %}
                    <div class="mb-3">
                        <p>{% translate "Ich verpflichte mich, die nach Gestz und Satzung geschuldete Einzahlungen auf die Geschäftsanteile zu leisten."%}</p>
                        {% bootstrap_field form.accept_statutes %}
                    </div>
                    <div class="mb-3">
                        <p>{% translate "Du kannst Deine Beitrittserklärung ohne Angabe von Gründen innerhalb von zwei Wochen in Textform (z.B. Brief, E-Mail) widerrufen. Die Frist beginnt spätestens mit Erhalt dieser Belehrung. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung eines formlosen Widerrufsschreibens an lueneburg@wirgarten.com."%}</p>
                        {% bootstrap_field form.right_of_withdrawal %}
                    </div>
                    <div class="mb-3">
                        {% blocktranslate %}
                            Wir behandeln deine Daten vertraulich, verwenden diese nur im Rahmen der Mitgliederverwaltung und geben sie nicht an Dritte weiter. Unsere Datenschutzerklärung kannst du hier einsehen: <a href="https://lueneburg.wirgarten.com/datenschutzerklaerung/">Datenschutzerklärung</a>
                        {% endblocktranslate %}</div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn tapir-btn btn-primary">
                            <span class="material-icons">save</span>
                            {% translate 'Save' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}