<hr />

<small>¹ Alle Mengenangaben sind Jahresdurchschnittswerte, die je nach Witterung höher oder niedriger ausfallen.<br />
    ² Dein solidarischer Beitrag ermöglicht weniger finanzstarken Menschen, WirGarten-Gemüse beziehen zu können.
    Gleichzeitig kannst du einen reduzierten Solidarpreis in Anspruch nehmen, wenn du wenig Geld zur Verfügung hast.
    Diese Option ist nur möglich, wenn der Solidartopf ausreichend gefüllt ist. Ist dies nicht der Fall, kannst du
    gerade keinen reduzierten Beitrag wählen.
</small>

<div id="warning-cannot-reduce" style="margin-top:1em; margin-bottom:0; display:none" class="alert alert-danger">Du
    kannst deine Ernteanteile nicht reduzieren, nur erhöhen.</div>
