{% load tapir_static %}
<div style="display:flex; flex-direction: row;">
    <div>
        <p>Jede Woche holst du dir deinen Ernteanteil und ggf. deinen Hühner-Anteil an dem von dir ausgewählten Abholort ab.</p>
        <p>Du kannst den Abholort während der Laufzeit deines Erntevertrags wechseln, z.B. wenn du umziehst oder Freunde den Anteil für dich abholen wollen.</p>

        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field_errors in form.errors.values %}
                {% for error in field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <img style="max-height:15em; margin-left:2em" class="photo"
         src="{% static 'lueneburg/registration/pickup-location.png' %}">
</div>

