.custom-sidebar {
  width: 4em;
  transition: width 0.3s ease;
  position: absolute;
  padding-top: 4.5em;
  white-space: nowrap;
  z-index: 990;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar-item-details {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar-group {
  margin-top: 1em;
}

.custom-sidebar:hover {
  width: 16em;
}

.custom-sidebar:hover > div > .sidebar-item-details,
.custom-sidebar:hover > div > ul > li > a > span.sidebar-item-details {
  opacity: 1;
}
