{% load django_bootstrap5 %}

<div class="form-fields d-flex flex-row flex-wrap gap-2">
    {% for field in form %}
        <div class="form-field" id="{{ field.name }}" style="width: 375px">
            {% bootstrap_field field %}
        </div>
    {% endfor %}
</div>

<script>
    const fields = document.getElementsByClassName("form-field");

    const nameField = document.getElementById("name");
    const nameInput = document.getElementById("id_name");

    const handleProductTypeChange = (value) => {
        const selected = value.trim().length > 0;
        nameField.style.display = selected ? "none" : "block";
        nameInput.required = !selected;
    }

    const productTypeSelect = document.getElementById("id_product_type");
    if (productTypeSelect) {
        productTypeSelect.addEventListener("change", (e) => handleProductTypeChange(e.target.value));
        handleProductTypeChange(productTypeSelect.value);
    }
</script>