{% extends 'wirgarten/generic/filter-list.html' %}

{% block card_header %}
<h4>{{tasks | length}} Tasks queued </h4>
{% for worker in workers %}
    {% if worker.alive %}
    <span class="badge bg-success"><span data-bs-toggle="tooltip" data-bs-placement="top"
        title="Worker '{{worker.id}}' is alive" class="material-icons">sensors</span></span>
    
    {% else %}
    <span class="badge bg-danger"><span data-bs-toggle="tooltip" data-bs-placement="top"
        title="Worker '{{worker.id}}' is not reachable" class="material-icons">sensors_off</span></span>
    {% endif %}
{% endfor %}
{% if not celery_alive %}
<span class="badge bg-danger"><span data-bs-toggle="tooltip" data-bs-placement="top"
    title="Celery is not reachable" class="material-icons">sensors_off</span></span>
{% endif %}
{% endblock %}

{% block table_head %}
<tr>
    <th data-sort="acknowledged">Ack</th>
    <th data-sort="eta">ETA</th>
    <th data-sort="name">Name</th>
    <th data-sort="args">args</th>
    <th data-sort="kwargs">kwargs</th>
    <th data-sort="worker">Worker</th>
    <th data-sort="id">ID</th>
</tr>
{% endblock %}

{% block table_body %}
{% for task in tasks %}

<tr id="task-{{task.id}}" class="tr-clickable">
    <td>{% if task.acknowledged %}
        <span style="color:var(--bs-success)" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Acknowledged" class="material-icons">task_alt</span>
        {% else %}
        <span style="color:var(--bs-warning)" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Not acknowledged" class="material-icons">hide_source</span>
        {% endif %}
    </td>
    <td>{{ task.eta }}</td>
    <td>{{ task.name }}</td>
    <td>{{ task.args }}</td>
    <td>{{ task.kwargs }}</td>
    <td><small>{{ task.worker }}</small></td>
    <td><small>{{ task.id }}</small></td>
</tr>

{% endfor %}
{% endblock %}