#member-detail-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 2em;
}

#member-detail-left-column {
    grid-row: span 2;
    display:flex;
    flex-direction: column;
}

#member-contracts{
    margin-bottom: 1em;
}

#member-pickup-location{
    margin-bottom: 1em;
}

.contract-tile-number{
    font-size: 3em;
    height:1.5em;
}

.contract-tile-number > .material-icons {
     font-size: 0.7em;
}

#contract-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1em;
    text-align: center;
}