{% load wirgarten %}
{% load static %}
<style>
    @page {
        size: A4 portrait;
        margin: 1cm;
        @top-right {
            content: "Seite " counter(page) " aus " counter(pages);
        }
        @top-left {
            content: "KW {{ entries.0.pickup_locations.0.calendar_week }}"
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #000;
        padding: 3px 5px;
        text-align: left;
        vertical-align: top;
    }

    table.striped tbody tr:nth-child(odd) {
        background-color: #dfdfdf;
    }

    @media print {
        .page {
            break-after: page;
        }
    }
</style>
{% for location_route in entries %}
    {% for pickup_location in location_route.pickup_locations %}
        <div class="page" id="{{ pickup_location.id }}" data-locationname="{{ pickup_location.name }}">
            <div style="display: flex; flex-direction: column; gap: 1rem;">
                <h1>
                    {% if location_route.route_name %}
                        {{ location_route.route_name }},
                    {% endif %}
                    {{ pickup_location.name }}
                </h1>
                <div style="display: flex; flex-direction: row; justify-content: space-between">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    {{ pickup_location.name }}<br/>
                                    {{ pickup_location.street }}<br/>
                                    {% if pickup_location.street_2 %}
                                        {{ pickup_location.street_2 }}<br/>
                                    {% endif %}
                                    {{ pickup_location.postcode }}<br/>
                                    {{ pickup_location.city }}<br/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table>
                    <tbody>
                        {% for header, value in pickup_location.global_values.items %}
                            <tr>
                                <td>Summe {% if pickup_location.convert_headers %}
                                    {{ pickup_location.product_name_by_id|get_value:header }}{% else %}{{ header }}{% endif %}
                                </td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>Informationen Fahrer: {{ pickup_location.route_info }}</div>
                <div>Informationen Mitglieder: <p>Qui et placeat autem inventore soluta quia. Illo voluptas sit
                    voluptatibus labore tempore tempora asperiores in. Harum doloribus molestias quisquam voluptatibus
                    sint ipsum voluptates doloremque.</p>
                    <p>Quis dolorem quam qui minus sit quisquam. Qui qui repellat ea alias quia adipisci. Nihil et eos
                        libero aut at.</p>
                </div>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Mitgliedsnummer</th>
                            <th>Name</th>
                            {% for header in pickup_location.headers %}
                                <th>{% if pickup_location.convert_headers %}
                                    {{ pickup_location.product_name_by_id|get_value:header }}{% else %}{{ header }}{% endif %}
                                </th>
                            {% endfor %}
                            <th>Ankreuzen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in pickup_location.members %}
                            <tr>
                                <td>{{ member.member_no }}</td>
                                <td>{{ member.first_name }} {{ member.last_name }}</td>
                                {% for header in pickup_location.headers %}
                                    <td>{{ member.member_values|get_value:header }}</td>
                                {% endfor %}
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endfor %}