{% load django_vite %}
{% load configuration %}
{% load tapir_static %}
{% load core %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" style="height: 100dvh; overflow: hidden">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                Bäckerei Konfiguration - {% get_parameter_value_tag "wirgarten.site.name" cache %}
            {% endblock %}
        </title>
        {% get_parameter_value_tag "organisation.theme" cache as theme %}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'core/themes/'|add:theme|add:'/favicon.ico' %}" />
        <link rel="stylesheet"
              href="{% static 'core/themes/'|add:theme|add:'/css/custom.css' %}" />
        {% javascript_environment_variables %}
        {% vite_hmr_client %}
        {% vite_react_refresh %}
        {% vite_asset 'bakery/entries/bakery_configuration_entry.tsx' %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="{% static 'core/bootstrap/5.3.8/css/bootstrap.min.css' %}">
    </head>
    <body style="width: 100dvw; height: 100dvh;">
        {% csrf_token %}
        <div id="bakery-configuration-root" style="width: 100dvw; height: 100dvh;"></div>
    </body>
</html>