{# filepath: /Users/bia/dev/tapir-biotop-dev/tapir/bakery/templates/bakery/reports.html #}
{% extends "core/base.html" %}
{% load django_vite %}
{% load configuration %}
{% load tapir_static %}
{% load core %}

{% block title %}
    Berichte - {% get_parameter_value_tag "wirgarten.site.name" cache %}
{% endblock %}

{% block head %}
    {{ block.super }}
    {% get_parameter_value_tag "organisation.theme" cache as theme %}
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'core/themes/'|add:theme|add:'/favicon.ico' %}" />
    <link rel="stylesheet"
          href="{% static 'core/themes/'|add:theme|add:'/css/custom.css' %}" />
    {% javascript_environment_variables %}
    {% vite_hmr_client %}
    {% vite_react_refresh %}
    {% vite_asset 'bakery/entries/reports_entry.tsx' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="{% static 'core/bootstrap/5.3.8/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="reports-root"></div>
{% endblock %}