{% extends 'wirgarten/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load tapir_static %}
{% load wirgarten %}

{% block content %}
<form id="form" method="post" onsubmit="showLoadingSpinner()">
    {% csrf_token %}
    <div class="modal-body">
        {% if form.template_name %}
        {% include form.template_name %}
        {% else %}
        <div style="display: grid; grid-column-gap: 1em; grid-template-columns:repeat({{ form.n_columns|default:'1' }}, 1fr);" class="form-fields">
            {% for field in form %}
            <div style="grid-column:span {{form.colspans|get_value:field.name|default:1}}" class="form-field" id="{{ field.name }}">
                {% bootstrap_field field %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">
            {% translate 'Abbrechen'%}
        </button>
        <button type="submit" class="btn btn-primary"> {% translate 'Speichern'%}</button>
    </div>
</form>
<script>
    const closeModal = () => {
        parent.postMessage({type:"modal-close"}, "*")
    }

    const showLoadingSpinner = () => {
        parent.postMessage({type:"modal-loading-spinner"}, "*")
    }

</script>

{% endblock %}

