{% extends "core/base.html" %}
{% load django_vite %}
{% block head %}
    {% vite_asset 'mailing_lists/mailing_lists_entry.tsx' %}
{% endblock head %}
{% block title %}
    Mailing-Listen - {{ block.super }}
{% endblock %}
{% block content %}
    {% csrf_token %}
    {% if show_connection_error %}
        <div class="alert alert-danger mt-2">Verbindung mit dem Mailing-List-System fehlgeschlagen, kontaktiere bitte ein Admin.</div>
    {% else %}
        <div id="mailing_lists_entry" ></div>
    {% endif %}
{% endblock content %}
