{% extends "core/base.html" %}
{% load django_vite %}
{% load i18n %}
{% load wirgarten %}
{% load tapir_static %}
{% block head %}
    <title>
        {% block title %}Zusätzliche E-Mail-Adresse bestätigt{% endblock %}
    </title>
{% endblock %}
{% block content %}
    <div class="card mt-4">
        <div class="card-header">Zusätzliche E-Mail-Adresse bestätigt</div>
        <div class="card-body">
            Die Adresse {{ extra_mail_address }} bekommt ab jetzt alle Mails die an {{ main_mail_address }} von {{ site_name }} versendet werden.
        </div>
    </div>
{% endblock content %}
