{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'wirgarten/css/leaflet.css' %}">
<script src="{% static 'wirgarten/js/leaflet.js' %}"></script>
<script src="{% static 'wirgarten/js/registration/pickup_location.js' %}"></script>
{% endblock %}

<div style="margin-bottom:1em">
<select name="{{ widget.name }}" class="form-select" id="id_pickup_location">
{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
</div>

<div id="map" class="photo" style="height:40em;"></div>
<script>initMap(JSON.parse('{{widget.attrs.data|safe}}'), {{widget.attrs.selected_product_types|safe}})</script>