{% load configuration %}
{% load tapir_static %}
<p>
    „Was passiert, wenn Menschen gemeinsam Landwirtschaft träumen – und daraus etwas Lebendiges wird?“
</p>
<div>
    Die GrüneNeune Hammelburg eG ist keine bloße Abo-Kiste.
    Sie ist eine Einladung, mitzuwirken. Mitzugestalten. Mitzutragen.
    Die GrüneNeune ist ein Ort, an dem Kreisläufe entstehen – und Zukunft zum Leben erwacht.
    Als Teil unserer Genossenschaft trägst du dazu bei, dass...
    <ul>
        <li>Permakultur Wurzeln schlagen kann</li>
        <li>eine essbare, artenreiche Kulturlandschaft wächst</li>
        <li>Raum für Lernen, Austausch & Mitmachen entsteht</li>
        <li>...und lebst mit uns die Idee: Was wir teilen, trägt uns weiter.</li>
    </ul>
</div>
<div>
    Als Genossenschaftsmitglied bist du Teil unserer solidarischen Gemeinschaft – mit ein paar besonderen Möglichkeiten:
    <ul>
        <li>Du kannst unsere Vielfaltskiste und weitere Produkte beziehen – das ist exklusiv Mitgliedern vorbehalten
        </li>
        <li>Du hast Vorrang bei unseren Veranstaltungen, Mitmachaktionen und Bildungsangeboten</li>
        <li>Du kannst bei grundsätzlichen Fragen zur Ausrichtung der Genossenschaft mitentscheiden</li>
        <li>Und du erhältst Mitgliederrabatte auf ausgewählte Produkte, wenn du möchtest<sup>1</sup></li>
    </ul>
    Ein Anteil kostet 100€ (einmalig). <br/>
    Ein Anteil genügt, um dabei zu sein – mehrere bringen uns gemeinsam weiter. <br/>
    <small>
        <sup>1</sup>Die Rabatte können bei ausgewählten Produkten auf Wunsch in Anspruch genommen werden – oder freiwillig
        zugunsten
        der Genossenschaft abgewählt werden. <br/>
        Du entscheidest selbst, was sich für dich stimmig anfühlt.</small>
</div>
