{% extends "core/base.html" %}

{% load i18n %}
{% load core %}
{% load static %}

{% block title %}
{% translate "Abholorte" %}
{% endblock %}

{% block content %}
<script src="{% static 'wirgarten/js/pickup-location-config.js' %} ">

</script>
<div style="margin-top: 2em">
    <div class="card">
        <div class="card-header" style="display: flex; flex-direction:row;">
            <h4 style="margin-right: 3em">{{ pickup_locations|length }} Abholorte</h4>
            <button title="Abholort hinzufügen"
                    onclick="FormModal.load('{% url 'wirgarten:pickup_locations_add' %}', 'Abholort hinzufügen')"
                    class="btn btn-outline-success material-icons mx-1 px-2"
            >
                add
            </button>
            <button title="Abholort ändern"
                    onclick="handleEdit()"
                    class="btn btn-outline-primary material-icons mx-1 px-2"
            >
                edit
            </button>
            <div style="width: 3em"></div>
            <button id="delete-location"
                    title="Abholort löschen"
                    data-bs-toggle="modal" data-bs-target="#delete-confirmation"
                    class="btn btn-outline-danger material-icons mx-1 px-2"
            >
                delete
            </button>
        </div>
        <div class="card-body"
             style="height: calc(100vh - 11em); display:grid; grid-gap: 1em; grid-template-columns: 2fr 1fr">
            <div style="overflow-y: auto">
                <table class="table" style="text-align:center">
                    <thead class="sticky-top" style="background:#fff; margin:0;">
                    <tr>
                        <th>Name</th>
                        <th>Adresse</th>
                        <th>Hinweise zur Abholung</th>
                        <th>Produkte</th>
                        <th>Mitglieder</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pl in pickup_locations %}
                    <tr id="row-{{pl.id}}" class="tr-clickable location-row" onclick="handleRowClick('{{pl.id}}')">
                        <td><strong>{{ pl.name }}</strong></td>
                        <td>{{ pl.street }}<br/><small>{{ pl.postcode }} {{ pl.city }}</small></td>
                        <td>{{ pl.info }}</td>
                        <td style="font-size: 2em; white-space:nowrap; text-align:left;">
                            {% for cap in pl.capabilities %}
                            <span title="{{ cap.name }}">{{cap.icon}}</span>
                            {% endfor %}
                        </td>
                        <td>{% if pl.members == 0 %} - {% else %} {{ pl.members }} {% endif %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                {% include 'wirgarten/pickup_location/pickup_location_map.html' with data=data height='100%' callback='handleRowClick' %}
            </div>
        </div>
    </div>
</div>

<div id="delete-confirmation" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bist du sicher?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Möchtest du diesen Abholort wirklich löschen?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate Abbrechen %}</button>
                <button type="button" class="btn btn-danger" onclick="handleDelete()">{% translate Löschen %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    const canDelete = {}
    {% for pl in pickup_locations %}
    canDelete["{{pl.id}}"] = {{pl.members}} == 0;
    {% endfor %}

    initSelected();
</script>

{% include 'wirgarten/generic/modal/form-modal.html' %}

{% endblock %}