{% extends "wirgarten/generic/filter-list.html" %}
{% load django_vite %}
{% load i18n %}
{% load core %}
{% load wirgarten %}
{% load tapir_static %}
{% block title %}
    {% translate "Abholorte" %}
{% endblock %}
{% block head %}
    {% vite_asset 'pickup_location_config/pickup_location_config_entry.tsx' %}
    <link rel="stylesheet" href="{% static 'wirgarten/css/leaflet.css' %}">
    <script src="{% static 'wirgarten/js/leaflet.js' %}"></script>
    <script src="{% static 'wirgarten/js/registration/pickup_location.js' %}"></script>
{% endblock head %}
{% block card_header %}
    <h4 class="mb-0">{{ filter.qs|length }} Abholorte</h4>
    <span class="d-flex flex-row align-items-center">
        {% if perms.coop.manage %}
            {% include 'wirgarten/generic/action-button.html' with onclick='handleAddPickupLocation()' title='Abholort hinzufügen' type='success' icon='add_location_alt' %}
            {% include 'wirgarten/generic/action-button.html' with onclick='handleEdit()' id='edit-location' title='Abholort bearbeiten' disabled=True type='primary' icon='edit' %}
            <div id="pickup_location_capacity_edit_button"
                 data-enable-delivery-charge="{{ enable_delivery_charge }}">
                <span class="spinner-border"></span>
            </div>
            <div id="pickup_location_growing_period_edit_button"
                 data-enable-growing-period="{{ enable_growing_period_filter }}">
                <span class="spinner-border"></span>
            </div>
            {% include 'wirgarten/generic/action-button.html' with onclick='handleDelete()' id='delete-location' title='Abholort löschen' disabled=True type='danger' icon='delete' %}
        {% endif %}
        <div style="width: 1em"></div>
        <div id="manage_location_rouge">
            <span class="spinner-border"></span>
        </div>
    </span>
{% endblock %}
{% block table_head %}
    <tr>
        <th style="text-align:left">Name</th>
        <th style="text-align:left">Abholtage</th>
        <th>Adresse</th>
        <th style="text-align:left">Kapazitäten</th>
        <th>Mitglieder</th>
        {% if enable_growing_period_filter %}
            <th style="text-align:left">Vertragsperioden</th>
        {% endif %}
    </tr>
{% endblock %}
{% block table_body %}
    {% if object_list %}
        {% for pl in pickup_locations %}
            <tr id="row-{{ pl.id }}"
                class="tr-clickable location-row"
                onclick="handleRowClick('{{ pl.id }}')">
                <td style="text-align:left">
                    {% if pl.location_route %}
                        {{ pl.location_route }}
                    {% endif %}
                    <strong>{{ pl.name }}</strong>
                </td>
                <td>
                    <small style="line-height: 1em;">{{ pl.opening_times|safe }}</small>
                </td>
                <td>
                    {{ pl.street }}
                    <br/>
                    <small>{{ pl.postcode }} {{ pl.city }}</small>
                    {% if pl.route_info %}
                        <br/><em>{{ pl.route_info }}</em>
                    {% endif %}
                </td>
                <td style="white-space:nowrap; text-align:left;">
                    {% for cap in pl.capabilities %}
                        <img width="24em" title="{{ cap.name }}" src="{{ cap.icon }}"/>
                        <small> {{ cap.current_capacity }} / {{ cap.max_capacity|default:'∞' }}
                            {% if cap.capacity_percent %}
                                (
                                {{ cap.capacity_percent|format_percent }})
                            {% endif %}
                            &nbsp;&nbsp;&nbsp;<span
                                style="color:{% if cap.next_capacity_diff.0 == '+' %}green{% else %}red{% endif %}">{{ cap.next_capacity_diff }}</span></small>
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% if pl.members == 0 %}
                        -
                    {% else %}
                        {{ pl.members }}
                    {% endif %}
                </td>
                {% if enable_growing_period_filter %}
                    <td style="text-align:left">
                        {% if pl.growing_periods %}
                            {{ pl.growing_periods|join:", " }}
                        {% else %}
                            <span class="text-muted">—</span>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="{% if enable_growing_period_filter %}6{% else %}5{% endif %}" style="text-align:center; padding: 2em;">
                <span class="text-muted">Keine Abholorte gefunden.</span>
            </td>
        </tr>
    {% endif %}
{% endblock %}
{% block secondary_panel %}
    {% if object_list %}
        <div id="map-container" style="height: calc(100vh - {% if is_paginated %}14em{% else %}9.5em{% endif %}); padding: 1em;">
            <div id="map" class="photo" style="height: 100%;"></div>
            <script>
                const selected = {% if request.GET.selected %} '{{ request.GET.selected }}' {% else %} undefined {% endif %}
                var PickupLocationMap = { selectLocation: initMap(JSON.parse(`{{ data|safe }}`.replaceAll('\n', '')), {}, 'handleRowClick', selected) }
            </script>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'wirgarten/js/pickup-location-config.js' %}"></script>
    <script>
        const handleAddPickupLocation = () => {
            FormModal.load('{% url 'wirgarten:pickup_locations_add' %}', 'Abholort hinzufügen');
        }

        const canDelete = {}
        {% for pl in pickup_locations %}canDelete["{{pl.id}}"] = {{pl.members}} == 0;{% endfor %}

        initSelected();
    </script>
{% endblock %}
