{% load django_bootstrap5 %}
{% load tapir_static %}

<div>
    <strong><a target="_blank" href="https://maps.google.com">1) Suche den Ort auf Google Maps</a></strong><br/>
    <div class="mb-3">2) Zoome so nah wie möglich ran, den Abholort in der Mitte</div>
    <div class="mb-3"><label for="id_gmaps">3) Kopiere den Link hier rein</label><input type="text" name="gmaps" class="form-control" placeholder="https://google.de/maps/place/..." id="id_gmaps"></div>
    <div class="mb-3"><label for="id_gmaps_address">4) Kopiere die Adresse hier rein</label><input type="text" name="gmaps-address" class="form-control" placeholder="Vögelser Str. 25, 21339 Lüneburg, Deutschland" id="id_gmaps_address"></div>
</div>
<hr/>
<div class="form-fields">
    {% for field in form %}
    <div class="form-field" id="{{ field.name }}">
        {% bootstrap_field field %}
    </div>
    {% endfor %}
</div>
<script src="{% static 'wirgarten/js/pickup-location-edit-form.js' %}">
</script>