{% load configuration %}
{% load tapir_static %}

{% block head %}
<script src="{% static 'wirgarten/js/registration/coop_shares.js' %}"></script>
{% endblock %}

<div class="alert alert-warning" role="alert">
    Nach Ablauf der 4-wöchigen Probezeit wirst du automatisch Mitglied der Genossenschaft und die Geschäftsanteile
    werden von deinem Konto abgebucht. Solltest du innerhalb der ersten vier Wochen kündigen, wirst du kein
    Mitglied.<br/><br/>
    <strong>Bitte lies dir hier unsere Satzung durch: <a href="{{'wirgarten.coop.statute_link'|parameter}}" target="_blank">Satzung</a></strong>
</div>
<span style="float:right; font-size:1.25rem">= <strong><span id="cooperative_shares_total"></span> €</strong> / einmalig</span>
<script>initSummary({{ form.min_shares }}, {{ form.coop_share_price }})</script>