{% load configuration %}
{% load tapir_static %}

{% block head %}
<script src="{% static 'wirgarten/js/registration/harvest_shares.js' %}"></script>
{% endblock %}

<div style="width:100%;text-align:right; font-size:1.25rem">= <strong><span
        id="harvest_shares_total">0.00</span> €</strong> inkl. MwSt / Monat
</div>

<hr/>

<small>¹ Alle Mengenangaben sind Jahresdurchschnittswerte, die je nach Witterung höher oder niedriger ausfallen.<br/>
    ² Dein solidarischer Beitrag ermöglicht weniger finanzstarken Menschen, WirGarten-Gemüse beziehen zu können. Gleichzeitig kannst du einen reduzierten Solidarpreis in Anspruch nehmen, wenn du wenig Geld zur Verfügung hast. Diese Option ist nur möglich, wenn der Solidartopf ausreichend gefüllt ist. Ist dies nicht der Fall, kannst du gerade keinen reduzierten Beitrag wählen.
</small>


<script>
const growingPeriodSelect = document.getElementById("id_growing_period");
if(!growingPeriodSelect) {
    initHarvestShareSummary("{{form.harvest_shares}}", {{form.solidarity_total|safe}}, {{form.free_capacity|safe}})
} else {
    growingPeriodSelect.addEventListener("change", function() {
     initHarvestShareSummary("{{form.harvest_shares}}", {{form.solidarity_total|safe}}[growingPeriodSelect.selectedIndex], {{form.free_capacity|safe}}[growingPeriodSelect.selectedIndex])
    });
     initHarvestShareSummary("{{form.harvest_shares}}", {{form.solidarity_total|safe}}[growingPeriodSelect.selectedIndex], {{form.free_capacity|safe}}[growingPeriodSelect.selectedIndex])
}

</script>
