{% extends "wirgarten/registration/registration_wizard.html" %}

{% load wirgarten %}

{% block cardbody %}

<div id="summary_grid">

    <!-- HARVEST SHARES -->
    {% if wizard.form.harvest_shares_info.has_shares %}
    <div class="card summary-card-active">
        <div class="card-header">
            <h5 class="card-title">Ernteanteile</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Startdatum</th>
                    <td>{{wizard.form.harvest_shares_info.start_date}}</td>
                </tr>
                <tr>
                    <th>Enddatum</th>
                    <td>{{wizard.form.harvest_shares_info.end_date}}</td>
                </tr>
                <tr>
                    <th>Erste Lieferung</th>
                    <td>{{wizard.form.harvest_shares_info.first_delivery_date}}</td>
                </tr>
                <tr>
                    <th>Lieferintervall</th>
                    <td><small>{{ wizard.form.harvest_shares_info.delivery_interval }}</small></td>
                </tr>
                <tr>
                    <th>Kündigungsfrist</th>
                    <td><small>innerhalb des ersten Monats nach Startdatum</small></td>
                </tr>
                <tr>
                    <th>Abholort/-zeit</th>
                    <td>{{wizard.form.pickup_location|safe}}</td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <table class="table">
                {% for key, val in wizard.form.harvest_shares.items %}
                {% if val.amount > 0 %}
                <tr>
                    <th>{{val.name}}</th>
                    <td style="text-align:right;white-space: nowrap">{{val.amount}} x</td>
                    <td style="text-align:right;white-space: nowrap">{{val.price}} € / Monat</td>
                </tr>
                {% endif %}
                {% endfor %}


                {% if wizard.form.harvest_shares_info.solidarity_price_harvest_shares != 0 %}
                <tr>
                    <th>Solidarpreis</th>
                    <td style="text-align:right;white-space: nowrap">{% if wizard.form.harvest_shares_info.solidarity_price_harvest_shares != 'custom' %}
                        {% widthratio wizard.form.harvest_shares_info.solidarity_price_harvest_shares 1 100 %} %{%endif%}
                    </td>
                    <td style="text-align:right;white-space: nowrap">{{wizard.form.harvest_shares_info.solidarity_price_diff}} € / Monat
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <th></th>
                    <th></th>
                    {% if wizard.form.harvest_shares_info.has_shares %}
                    <th style="text-align:right; white-space: nowrap">= {{wizard.form.harvest_shares_info.total}} € / Monat</th>
                    {% else %}
                    <th style="text-align:right">keine Ernteanteile</th>
                    {% endif %}
                </tr>
            </table>
            <small style="float:right;margin:-0.75em 0 -0.5em -0.75em">inkl. MwSt</small>
        </div>
    </div>

    {% else %}
    {% summary_card_disabled "Ernteanteile" %}
    {% endif %}


    <!-- CHICKEN SHARES -->
    {% if wizard.form.chicken_shares_info.has_shares %}
    <div class="card summary-card-active">
        <div class="card-header"><h5 class="card-title">Hühneranteile</h5></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Startdatum</th>
                    <td>{{wizard.form.harvest_shares_info.start_date}}</td>
                </tr>
                <tr>
                    <th>Enddatum</th>
                    <td>{{wizard.form.harvest_shares_info.end_date}}</td>
                </tr>
                <tr>
                    <th>Erste Lieferung</th>
                    <td>{{wizard.form.chicken_shares_info.first_delivery_date}}</td>
                </tr>
                <tr>
                    <th>Lieferintervall</th>
                    <td><small>{{ wizard.form.chicken_shares_info.delivery_interval }}</small></td>
                </tr>
                <tr>
                    <th>Kündigungsfrist</th>
                    <td><small>innerhalb des ersten Monats nach Startdatum</small></td>
                </tr>
                <tr>
                    <th>Abholort/-zeit</th>
                    <td>{{wizard.form.pickup_location|safe}}</td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <table class="table">
                {% for key, val in wizard.form.chicken_shares.items %}
                {% if val.amount > 0 %}
                <tr>
                    <th>{{val.name}}</th>
                    <td style="text-align:right; white-space: nowrap">{{val.amount}} x</td>
                    <td style="text-align:right;white-space: nowrap">{{val.price}} € / Monat</td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr>
                    <th></th>
                    <th></th>
                    {% if wizard.form.chicken_shares_info.has_shares %}
                    <th style="text-align:right;white-space: nowrap">= {{wizard.form.chicken_shares_info.total}} € / Monat</th>
                    {% else %}
                    <th style="text-align:right;white-space: nowrap">keine Hühneranteile</th>
                    {% endif %}
                </tr>
            </table>
            <small style="float:right;margin:-0.75em 0 -0.5em -0.75em">inkl. MwSt</small>
        </div>
    </div>
    {% else %}
    {% summary_card_disabled "Hühneranteile" %}
    {% endif %}

    <!-- BESTELLCOOP -->
    {% if wizard.form.bestellcoop.sign_up %}
    <div class="card summary-card-active">
        <div class="card-header"><h5 class="card-title">BestellCoop</h5></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Startdatum</th>
                    <td>{{wizard.form.harvest_shares_info.start_date}}</td>
                </tr>
                <tr>
                    <th>Enddatum</th>
                    <td>{{wizard.form.harvest_shares_info.end_date}}</td>
                </tr>
                <tr>
                    <th>Lieferintervall</th>
                    <td><small>zweimonatliche Bestellmöglichkeit</small></td>
                </tr>
                <tr>
                    <th>Kündigungsfrist</th>
                    <td><small>innerhalb des ersten Monats nach Startdatum</small></td>
                </tr>
                <tr>
                    <th>Lieferort</th>
                    <td>
                        <small>An die von dir angegebene Lieferadresse, wenn du im Online-Shop für die BestellCoop bestellst</small>
                    </td>
                </tr>

            </table>
        </div>
        <div class="card-footer">
            <table class="table">
                {% if wizard.form.bestellcoop.sign_up %}
                <tr>
                    <th>Mitgliedschaft</th>
                    <th style="text-align:right"></th>
                    <th style="text-align:right"></th>
                </tr>
                {%endif%}
                <tr>
                    {% if wizard.form.bestellcoop.sign_up %}
                    <td></td>
                    <td></td>
                    <th style="text-align:right">= {{wizard.form.bestellcoop.price}} € / Monat</th>
                    {% else %}
                    <td></td>
                    <td></td>
                    <th style="text-align:right">keine BestellCoop Mitgliedschaft</th>
                    {% endif %}
                </tr>
            </table>
            <small style="float:right;margin:-0.75em 0 -0.5em -0.75em">inkl. MwSt</small>
        </div>
    </div>
    {% else %}
    {% summary_card_disabled "BestellCoop" %}
    {% endif %}
</div>

<!-- COOP SHARES -->
<div class="card" style="margin-top:1em;margin-bottom:1em">
    <div class="card-body" style="text-align: center;">
        <p>
            <strong>Du möchtest mit&nbsp;&nbsp;{{wizard.form.coop_shares.total|format_currency}} €&nbsp;&nbsp;Genossenschaftsanteilen Mitglied in unserer Genossenschaft werden.</strong>
        </p>
        <p>Die Bestätigung deines Beitritts erfolgt erst nach Ablauf der Kündigungsfrist deines Ernteanteils.<br/>
            Du kannst deine Genossenschaftsanteile ein Jahr zum Jahresende kündigen.</p>
    </div>
</div>

<!-- SUM -->
<span style="float:right">
                   <h5>
                       <b>{{wizard.form.total_onetime}} €</b> <small>/ einmalig für Genossenschaftsanteile</small><br/>
                      <b>{{wizard.form.total_monthly}} €</b> <small>inkl. MwSt pro Monat</small><br/>
                   </h5>
                </span>


{% endblock %}