{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div style="margin-top: 2em" class="container">
    <div class="card">
        <div class="card-header">
            <h4>Parameters</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                {% for category in form.categories %}
                <div class="parameter-category">
                    <h5>{% translate category %}</h5>

                    {% for field in form.visible_fields %}

                    {% if field.category == category %}
                    {% bootstrap_field field %}
                    {% endif %}

                    {% endfor %}
                    <hr/>
                </div>

                {% endfor %}

                <button class="btn tapir-btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}